/* HOME */
.home {
  height: 100%;
  margin: 0;
}

.welcome {
  text-align: center;
  font-family: helvetica;
  background-color: blue;
  color: white;
  padding: 40px 20px 40px 20px;
  
}

.halaman {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.tombol {
  display: block;
  font-size: 30px;
  font-family: helvetica;
  font-weight: bold;
  background-color: slateblue;
  color: white;
  border-radius: 80px;
  padding: 40px, 80px 40px 80px;
  margin: 20px;
}


/*PROFILE*/
.profile {
  background-color: grey;
}

.gambar1 {
  width: 200px;
  height: auto;
  border-radius: 50%;
}



/*MEDIA*/
.media {
  background-color: green;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

#video {
  width: 400px;
  height: auto;
}

#foto {
  width: 200px;
  height: auto;
}

/*PROJECT*/
.proyek {
  background-color: pink;
  color: white;
  font-size: 20px;
}

.project {
  background-color: green;
  font-size: 10px;
}

/*INFORMASI*/

.layanan {
  background-color: blue;
  color: white;
  padding: 40px;
}

.statistik {
  background-color: slateblue;
  color: white;
  padding: 40px;
}

.timeline {
  background-color: navy;
  color: white;
  padding: 40px;
}

.faq {
  background-color: black;
  color: white;
  padding: 40px;
}